<div id="route-section" class="">
  <div class="top-area px-0">
    <ui-breadcrumb [breadcrumbs]="breadcrumbs" [useGroups]="true" (onClick)="onBreadcrumb($event)"></ui-breadcrumb>
    <div class="d-flex flex-grow-1">&nbsp;</div>
    <div class="nav-controls">
      <!-- <div class="position-relative" *ngIf="service">
        <app-back-web [service_id]="service.id_servizio"></app-back-web>
      </div> -->
      <app-monitor-dropdown *ngIf="service"
        [showComunications]="false"
        [showMonitoring]="false"
        [returnWeb]="true"
        [otherActions]="[]"
        (action)="onActionMonitor($event)">
      </app-monitor-dropdown>
    </div>
  </div>
  <div class="top-area">
    <div class="tabs gp-tabs d-flex flex-grow-1 p-0 m-0 mobile-separator issuable-state-filters">
      <div class="">
        <ul role="tablist" class="nav gp-border-b-0 gp-tabs-nav">
          <li class="nav-item">
            <a role="tab" tabindex="-1" target="_self" class="nav-link gp-tab-nav-item gp-tab-nav-item-active cursor-pointer" (click)="_resetScroll()">
              <span title="Show all attachments.">{{ 'APP.FILTER.Found' | translate }}</span> <span class="badge gp-tab-counter-badge badge-muted badge-pill gp-badge sm" [title]="serviceAllegati.length">{{ _paging.totalElements || serviceAllegati.length }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-controls align-self-center d-flex">
      <div role="group" class="gl-w-full btn-group-">
        <button aria-label="Add attachments" type="button" class="btn btn-confirm btn-md gl-button btn-icon" (click)="_onNew()" *ngIf="(_updateMapper | mapper:_canEditMapper)">
          <em class="bi bi-plus-lg"></em><span class="text-nowrap ms-2">{{ (_showAllAttachments ? 'APP.SERVICES.BUTTON.AddAttachment' : 'APP.SERVICES.BUTTON.AddAttachment-' + _tipoAllegato) | translate }}</span>
        </button>
      </div>
    </div>
  </div>
  <section class="search-bar container-fluid px-0" *ngIf="_hasFilter">
    <div class="row align-items-center">
      <div class="col-12">
        <ui-search-google-form #searchGoogleForm
          [classBlock]="''"
          [placeholder]="'APP.PLACEHOLDER.Search' | translate"
          [showHistory]="showHistory"
          [historyStore]="'journal_transactions'"
          [showSearch]="showSearch"
          [searchFields]="searchFields"
          [showSorting]="showSorting"
          [sortField]="sortField"
          [sortDirection]="sortDirection"
          [sortFields]="sortFields"
          [simple]="simpleSearch"
          [formGroup]="_formGroup"
          (onSearch)="_onSearch($event)"
          (onSort)="_onSort($event)">
          <div form-search class="search-material-custom">
            <form class="row" [formGroup]="_formGroup" (submit)="_onSubmit(_formGroup.value)">
              <fieldset>
				  <legend>&nbsp;</legend>
                <div class="row mb-1">
                  <div class="col-sm-2">
                    <label class="col-form-label col-form-label-fix" for="q">{{ 'APP.LABEL.filename' | translate }}</label>
                  </div>
                  <div class="col-sm-10">
                    <input type="text" class="form-control form-control-sm" id="q" formControlName="q">
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-sm-2">
                    <label class="col-form-label col-form-label-fix" for="tipologia_allegato">{{ 'APP.LABEL.TipoAllegatoRuolo' | translate }}</label>
                  </div>
                  <div class="col-sm-10">
                    <select class="form-select form-control-sm" id="tipologia_allegato" formControlName="tipologia_allegato">
                      <option value="">{{ 'APP.LABEL.All' | translate }}</option>
                      <option *ngFor="let tipologia of Tools.TipiAllegati" [value]="tipologia.value">
                        {{ 'APP.ALLEGATI.TIPI.' + tipologia.label | translate }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="col-sm-2">
                    <label class="col-form-label col-form-label-fix" for="visibilita_allegato">{{ 'APP.LABEL.visibilita' | translate }}</label>
                  </div>
                  <div class="col-sm-10">
                    <select class="form-select form-control-sm" id="visibilita_allegato" formControlName="visibilita_allegato">
                      <option value="">{{ 'APP.LABEL.All' | translate }}</option>
                      <option *ngFor="let stato of _tipiVisibilitaAllegato" [value]="stato.value">
                        {{ 'APP.VISIBILITY.' + stato.label | translate }}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="d-flex justify-content-end pt-4">
                  <button type="button" class="btn btn-default btn-md gl-button btn-default-tertiary" (click)="searchGoogleForm._closeSearchDropDpwn(null)">{{ 'APP.BUTTON.Close' | translate }}</button>
                  <button type="submit" class="btn btn-confirm btn-md gl-button ms-2">{{ 'APP.BUTTON.Search' | translate }}</button>
                </div>
              </fieldset>
            </form>
          </div>
        </ui-search-google-form>
      </div>
    </div>
  </section>
  <section id="container-scroller" class="container-fluid container-scroller px-0" [class.container-scroller-no-search]="!_hasFilter"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="__loadMoreData()"
    [scrollWindow]="false">

    <ui-box-message *ngIf="(serviceAllegati.length == 0) && !_spin"
      [size]="64"
      [icon]="'report_problem'"
      [image]="'./assets/images/illustrations/api.svg'"
      [message]="_message | translate"
      [subMessage]="_messageHelp | translate">
    </ui-box-message>

    <ng-container *ngFor="let allegato of serviceAllegati;let index = index;">
      <div class="d-flex justify-content-between align-items-center border-bottom">
        <div class="flex-grow-1">
          <ui-item-row
            [data]="allegato"
            [config]="allegatiConfig"
            [hasLink]="false"> <!-- (itemClick)="_onEdit($event, allegato)" -->
          </ui-item-row>
        </div>
        <div class="ms-3 me-3 float-start" style="width: 100px;">
          <button aria-label="Download" type="button" class="btn btn-default btn-md gl-button btn-icon" (click)="_downloadAllegato(allegato, index)" [disabled]="_downloading || _deleting" [tooltip]="'APP.TOOLTIP.Download' | translate" container="body">
            <em class="bi bi-download"></em><span class="ms-2 spinner-border spinner-border-sm" *ngIf="_downloadings[index]"></span>
          </button>
          <button aria-label="Edit" type="button" class="btn btn-default btn-md gl-button btn-icon ms-1" (click)="_onEdit($event, allegato)" [disabled]="_downloading || _deleting" [tooltip]="'APP.TOOLTIP.Edit' | translate" container="body" [disabled]="!(allegato.source.tipologia | mapper:_canTypeAttachmentMapper)">
            <em class="bi bi-pencil" [ngClass]="{ 'text-muted opacity-50': !(allegato.source.tipologia | mapper:_canTypeAttachmentMapper) }"></em>
          </button>
          <button aria-label="Remove" type="button" class="btn btn-default btn-md gl-button btn-icon ms-1" (click)="_confirmDelection(allegato)" [disabled]="_downloading || _deleting" [tooltip]="'APP.TOOLTIP.Remove' | translate" container="body" [disabled]="!(allegato.source.tipologia | mapper:_canTypeAttachmentMapper)">
            <em class="bi bi-trash text-danger" [ngClass]="{ 'text-muted opacity-50': !(allegato.source.tipologia | mapper:_canTypeAttachmentMapper) }"></em><span class="ms-2 spinner-border spinner-border-sm" *ngIf="_deleting"></span>
          </button>
        </div>
      </div>
    </ng-container>

    <ui-box-spinner [color]="'primary'" [diameter]="36" [strokeWidth]="3" *ngIf="_spin"></ui-box-spinner>
  </section>
</div>
