<div class="group-list-card" [class.group]="data.tipo === 'gruppo'" (click)="onCardClick($event)">
  <div class="group-list-card-image-container" *ngIf="showImage && (image || showEmptyImage)">
    <div tabindex="0"
        class="group-list-card-image"
        [class.cursor-pointer]="enabledImageLink"
        (click)="onImageClick($event)"
        setBackgroundImage
        [imageUrl]="{ path: image } | httpImgSrc"
        [position]="'cover'"
        [ngStyle]="{ 'background-color': backColor }">
      <span class="logo-text text-nowrap" [ngStyle]="{'color': textColor}" *ngIf="!image">{{ logoText }}</span>
    </div>
  </div>

  <div class="group-list-card-content">
    <div class="group-list-card-body">
      <h5 tabindex="0"
          class="group-list-card-title text-hover cursor-pointer text-break"
          [class.supports-new-tab]="data.tipo !== 'gruppo'"
          [attr.title]="primaryText"
          *ngIf="primaryText">
        {{ primaryText }}
      </h5>
      <p class="group-list-card-text" *ngIf="secondaryText">{{ secondaryText }}</p>
      <p class="group-list-card-metadata" *ngIf="metadata">{{ metadata }}</p>
    </div>

    <div class="group-list-card-badges">
      <ui-data-type class="me-2" *ngIf="data.stato"
        [data]="data"
        [elem]="{ field: 'stato', type: 'label', options: 'status' }"
        [config]="config">
      </ui-data-type>
      <ui-data-type *ngIf="data.visibilita && !isAnonymous"
        [data]="data"
        [elem]="{ field: 'visibilita', type: 'tag', options: 'visibility' }"
        [config]="config">
      </ui-data-type>
    </div>
  </div>

  <div class="group-list-card-icon" *ngIf="(data.tipo === 'gruppo') && showGroupIcon">
    <div class="group-icon-wrapper">
      <i class="bi bi-folder"></i>
      <div class="group-icon-label" *ngIf="showGroupLabel">{{ groupLabel }}</div>
    </div>
  </div>
</div>
