<ng-container *ngIf="data">
    <ng-container *ngFor="let view of views; index as i">
        <div class="p-4 m-4 bg-lightest"
            *ngIf="(data[i].constructor.name === 'Array' && data[i].length > 0) || (data[i].constructor.name === 'Object')">
            <h4 class="mb-3" *ngIf="view.title">{{ view.title }}</h4>

            <div class="gl-alert gl-alert-danger mt-4 mb-5" *ngIf="data[i].message">
                <p>{{ data[i].message }}</p>
                <pre>{{ data[i].error | json }}</pre>
            </div>

            <ui-data-view *ngIf="!data[i].message && view.type === 'ui-data-view'" [data]="data[i]"
                [details]="view.configuration">
            </ui-data-view>

            <ui-collapse-row *ngIf="!data[i].message && view.type === 'ui-collapse-row' && view.collapseView"
                [data]="data[i]" [config]="view.collapseView.configuration"
                [enableCollapse]="view.collapseView.collapsed" [hasLink]="true">
                <div collapse-content class="p-4 my-1 bg-lightest" *ngIf="view.collapseView?.collapsed">
                    <div class="d-flex flex-row">
                        <ui-data-view [data]="data[i]" [details]="view.configuration">
                        </ui-data-view>
                    </div>
                </div>
            </ui-collapse-row>

            <ng-container *ngIf="!data[i].message && view.type === 'list-ui-collapse-row' && view.collapseView">
                <ui-collapse-row class="border-bottom bg-white" *ngFor="let item of data[i]; index as j"
                    [data]="data[i][j].data ? data[i][j].data : data[i][j]" [config]="view.collapseView.configuration"
                    [enableCollapse]="view.collapseView.collapsed" [hasLink]="true">
                    <div collapse-content class="px-4 pt-3 pb-3 my-1" *ngIf="view.collapseView?.collapsed">
                        <div class="d-flex flex-row mb-6" *ngIf="!view.hideContent">
                            <ui-data-view [data]="data[i][j].data ? data[i][j].data : data[i][j]"
                                [details]="view.configuration">
                            </ui-data-view>
                        </div>
                        <div *ngIf="view.listView">
                            <h5 class="mb-3" *ngIf="view.listView?.title">{{ view.listView.title }}</h5>
                            <ui-item-row [class.border-bottom]="data[i][j]?.list.length > 1 && !last"
                                *ngFor="let item of data[i][j]?.list;let last = last;" [data]="item"
                                [config]="view.listView.configuration" [hasLink]="false">
                            </ui-item-row>
                        </div>
                    </div>
                </ui-collapse-row>
            </ng-container>

            <ng-container *ngIf="!data[i].message && view.type === 'list-ui-item-row'">
                <div *ngIf="view.listView">
                    <h5 class="mb-3" *ngIf="view.listView?.title">{{ view.listView.title }}</h5>
                    <ui-item-row [class.border-bottom]="!last" *ngFor="let item of data[i];let last = last;"
                        [data]="item" [config]="view.listView.configuration" [hasLink]="false">
                    </ui-item-row>
                </div>
            </ng-container>
        </div>
    </ng-container>
</ng-container>