<div id="route-section" class="">
    <div class="top-area container-fluid container-limited limit-container-width px-0">
        <ui-breadcrumb [breadcrumbs]="breadcrumbs" [useGroups]="true" [classContainer]="'limit-container-width'" (onClick)="onBreadcrumb($event)"></ui-breadcrumb>
        <div class="d-flex flex-grow-1">&nbsp;</div>
        <div class="nav-controls">
        <!-- <div class="position-relative" *ngIf="service">
            <app-back-web [service_id]="service.id_servizio"></app-back-web>
        </div> -->
        <app-monitor-dropdown *ngIf="service && !_isNew"
            [showComunications]="false"
            [showMonitoring]="false"
            [returnWeb]="true"
            [otherActions]="_showExternalOtherActions ? [] : _otherActions"
            (action)="onActionMonitor($event)">
        </app-monitor-dropdown>
        </div>
    </div>
    <div class="top-area container-fluid container-limited limit-container-width px-0">
        <h3 class="page-title" *ngIf="_isEdit && !_isNew">{{ 'APP.TITLE.EditApi' | translate }}</h3>
        <h3 class="page-title" *ngIf="_isEdit && _isNew">{{ 'APP.TITLE.NewApi' | translate }}</h3>
        <div class="d-flex flex-grow-1">&nbsp;</div>

        <div class="nav-controls align-self-center d-flex">
            <ng-container *ngIf="!_isEdit">
            <div role="group" class="btn-group- ms-1" *ngIf="!_spin && !_isNew && _isPDND">
                <div class="dropdown b-dropdown gl-new-dropdown btn-group me-2" id="actions">
                    <button aria-haspopup="true" aria-expanded="false" type="button" class="btn dropdown-toggle btn-default btn-md gl-button gl-dropdown-toggle dropdown-icon-only dropdown-toggle-no-caret" data-bs-toggle="dropdown" data-bs-display="static">
                        <span>{{ 'APP.SERVICES.TITLE.PDND' | translate }}</span> <i class="bi bi-chevron-down ms-2"></i>
                    </button>
                    <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-end">
                        <div class="gl-new-dropdown-inner">
                            <div class="gl-new-dropdown-contents">
                                <li role="presentation" class="gl-new-dropdown-item">
                                    <button role="menuitem" type="button" class="dropdown-item" (click)="_showGeneralInformationsPDND()" [disabled]="!(_updateMapper | mapper:_hasPDNDConfiguredMapper)">
                                        <div class="gl-new-dropdown-item-text-wrapper">
                                            <p class="gl-new-dropdown-item-text-primary">{{ 'APP.SERVICES.MENU.PDNDGeneralInformations' | translate }}</p>
                                        </div>
                                    </button>
                                </li>
                                <li role="presentation" class="gl-new-dropdown-item">
                                    <button role="menuitem" type="button" class="dropdown-item" (click)="_showPDND()" [disabled]="!(_updateMapper | mapper:_hasPDNDConfiguredMapper)">
                                        <div class="gl-new-dropdown-item-text-wrapper">
                                            <p class="gl-new-dropdown-item-text-primary">{{ 'APP.SERVICES.MENU.PDNDUsers' | translate }}</p>
                                        </div>
                                    </button>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <div class="position-relative me-2" *ngIf="!_spin && !_isNew">
                <button aria-expanded="false" type="button" class="btn btn-default btn-md gl-button" (click)="_showAllegati()">
                    {{ 'APP.SERVICES.TITLE.Attachments' | translate }}
                </button>
            </div>
            <div class="position-relative me-2" *ngIf="!_spin && !_isNew">
                <button aria-expanded="false" type="button" class="btn btn-default btn-md gl-button" (click)="_goToTestingConfiguration()">
                    {{ 'APP.SERVICES.TITLE.Testing' | translate }}
                </button>
            </div>
            <div class="position-relative me-2" *ngIf="!_spin && !_isNew">
                <button aria-expanded="false" type="button" class="btn btn-default btn-md gl-button" (click)="_goToProductionConfiguration()">
                    {{ 'APP.SERVICES.TITLE.Production' | translate }}
                </button>
            </div>
            <!-- <div class="position-relative me-2 d-none d-md-inline-block" *ngIf="!_spin && !_isNew && !_showAllAttachments">
                <button aria-expanded="false" type="button" class="btn btn-default btn-md gl-button" [routerLink]="['allegati-specifica']">
                    {{ 'APP.SERVICES.TITLE.Specific' | translate }}
                </button>
            </div> -->
            <div class="position-relative" *ngIf="!_isEdit && !_spin && _editable">
                <button aria-label="Modifica" aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-icon" [tooltip]="'APP.TOOLTIP.EditApi' | translate" (click)="_editServizioApi()" [disabled]="!(_updateMapper | mapper:_canEditMapper)">
                    <i class="bi bi-pencil"></i>
                </button>
            </div>

            <div role="group" class="btn-group- ms-1" *ngIf="!_isEdit && !_spin && _showExternalOtherActions">
                <div class="dropdown b-dropdown gl-new-dropdown btn-group" id="actions">
                    <button aria-label="Altre azioni" aria-haspopup="true" aria-expanded="false" type="button" class="btn dropdown-toggle btn-default btn-md gl-button gl-dropdown-toggle btn-default-tertiary dropdown-icon-only dropdown-toggle-no-caret" data-bs-toggle="dropdown" data-bs-display="static">
                        <i class="bi bi-three-dots-vertical"></i>
                    </button>
                    <ul role="menu" tabindex="-1" class="dropdown-menu dropdown-menu-end">
                        <div class="gl-new-dropdown-inner">
                            <div class="gl-new-dropdown-contents">
                                <li role="presentation" class="gl-new-dropdown-item">
                                    <button role="menuitem" type="button" class="dropdown-item" (click)="_downloadServizioApiExport()" [disabled]="!(_updateMapper | mapper:_canJoinMapper)">
                                        <div class="gl-icon s16 gl-new-dropdown-item-check-icon gl-mt-3 gl-align-self-start">
                                            <i class="bi bi-download"></i>
                                        </div>
                                        <div class="gl-new-dropdown-item-text-wrapper">
                                            <p class="gl-new-dropdown-item-text-primary">{{ 'APP.MENU.ApiDescriptor' | translate }}</p>
                                        </div>
                                    </button>
                                </li>
                                <li role="presentation" class="gl-new-dropdown-divider">
                                    <hr role="separator" aria-orientation="horizontal" class="dropdown-divider">
                                </li>
                                <li role="presentation" class="gl-new-dropdown-item">
                                    <button role="menuitem" type="button" class="dropdown-item" (click)="_confirmDelection()" [disabled]="!(_updateMapper | mapper:_canAddMapper)">
                                        <div class="gl-icon s16 gl-new-dropdown-item-check-icon gl-mt-3 gl-align-self-start">
                                            <i class="bi bi-trash text-danger"></i>
                                        </div>
                                        <div class="gl-new-dropdown-item-text-wrapper">
                                            <p class="gl-new-dropdown-item-text-primary">{{ 'APP.MENU.DeleteApi' | translate }}</p>
                                        </div>
                                    </button>
                                </li>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>

            </ng-container>
            <div role="group" class="gl-w-full btn-group- position-relative" *ngIf="_isEdit && !_spin">
                <button aria-label="Annulla" aria-haspopup="true" aria-expanded="false" type="button" class="btn btn-default btn-md gl-button btn-default-tertiary ms-2" [tooltip]="(_isNew ? 'APP.TOOLTIP.CancelNew' : 'APP.TOOLTIP.CancelEdit') | translate" (click)="_onCancelEdit()">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>

    </div>
    <section class="container-fluid container-limited limit-container-width container-scroller container-scroller-no-search">
        <ui-box-spinner [color]="'primary'" [diameter]="36" [strokeWidth]="3" *ngIf="_spin && !_isNew"></ui-box-spinner>

        <ui-box-message *ngIf="!servizioApi && !_spin && !_isNew && _loaded"
            [image]="'./assets/images/illustrations/no-data.svg'"
            [message]="'APP.MESSAGE.NoData' | translate"
            [subMessage]="'APP.MESSAGE.NoDataHelp' | translate"
        ></ui-box-message>

        <div class="settings" *ngIf="servizioApi || _isNew">
            <div class="settings-content">
                <div class="gl-alert gl-alert-danger col-md-12 mb-5" *ngIf="!_isEdit && _error">
                    <span *ngIf="!_errors.length">{{ _errorMsg }}</span>
                    <span *ngIf="_errors.length">{{ 'APP.MESSAGE.ERROR.ApiNoDelete' | translate }}</span>
                </div>
                <div class="edit-form">
                    <form novalidate class="issue-form common-note-form mt-3 gl-show-field-errors gfm-form" [class.form-readonly]="!_isEdit" [formGroup]="_formGroup" (submit)="_onSubmit(_formGroup.value)">
                        <div class="row gl-mt-3" [class.justify-content-center]="_isNew || _singleColumn">
                            <div class="" [class.col-lg-4]="!_singleColumn" [class.col-lg-9]="_singleColumn" [class.mb-5]="_singleColumn" *ngIf="!_isNew">
                                <h4 class="gl-mt-0 text-break">{{ 'APP.API.TITLE.GeneralInformations' | translate }}</h4>
                                <div class="text-break mb-sm-4 mb-lg-1" markdown>{{ 'APP.API.TITLE.GeneralInformations_sub' | translate }}</div>
                            </div>
                            <div class="" [class.col-lg-8]="!_singleColumn" [class.col-lg-9]="_singleColumn">
                                <div class="row">
                                    <div class="col-9">
                                        <lnk-form-field
                                            name="nome"
                                            [label]="'APP.LABEL.nome' | translate"
                                            [formGroup]="_formGroup"
                                            [value]="servizioApi?.nome"
                                            [isEdit]="_isEdit"
                                            [plainText]="true"
                                            [helpContext]="'API.POPOVER'"
                                        ></lnk-form-field>
                                        <!-- <div class="form-group nome">
                                            <label class="label-bold" for="nome">{{ 'APP.LABEL.nome' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'nome'" *ngIf="_isEdit"></span></label>
                                            <div class="" *ngIf="_isEdit">
                                                <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('nome')" type="text" name="nome" id="nome" formControlName="nome" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                <p *ngIf="f['nome'].invalid && (f['nome'].dirty || f['nome'].touched)" class="form-text text-danger">
                                                    <span *ngIf="f['nome'].errors && f['nome'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                    <span *ngIf="f['nome'].errors && f['nome'].errors['maxlength']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.MaxLength' | translate: { length: f['nome'].errors['maxlength'].requiredLength } }}</span>
                                                </p>
                                                <ui-input-help field="nome" context="API"></ui-input-help>
                                            </div>
                                            <div class="" *ngIf="!_isEdit">
                                                <input type="text" readonly class="form-control-plaintext" id="nome" [value]="servizioApi?.nome || '-'">
                                            </div>
                                        </div> -->
                                    </div>
                                    <div class="col-3">
                                        <lnk-form-field
                                            name="versione"
                                            [label]="'APP.LABEL.versione' | translate"
                                            [formGroup]="_formGroup"
                                            [value]="servizioApi?.versione"
                                            [isEdit]="_isEdit"
                                            [plainText]="true"
                                            [helpContext]="'API.POPOVER'"
                                        ></lnk-form-field>
                                        <!-- <div class="form-group versione">
                                            <label class="label-bold" for="versione">{{ 'APP.LABEL.versione' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'versione'" *ngIf="_isEdit"></span></label>
                                            <div class="" *ngIf="_isEdit">
                                                <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('versione')" type="number" name="versione" id="versione" formControlName="versione" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant" min="1">
                                                <p *ngIf="f['versione'].invalid && (f['versione'].dirty || f['versione'].touched)" class="form-text text-danger">
                                                    <span *ngIf="f['versione'].errors && f['versione'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                    <span *ngIf="f['versione'].errors && f['versione'].errors['pattern']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.IntegerGreaterThanZero' | translate }}</span>
                                                </p>
                                                <ui-input-help field="versione" context="API"></ui-input-help>
                                            </div>
                                            <div class="" *ngIf="!_isEdit">
                                                <input type="text" readonly class="form-control-plaintext" id="versione" [value]="servizioApi?.versione || '-'">
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="row" *ngIf="_isNew && _info_gateway_visualizzate && _isGestore()">
                                    <div class="col-6">
                                        <div class="form-group nome_gateway">
                                            <label class="label-bold" for="nome_gateway">{{ 'APP.LABEL.nome_gateway' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'nome_gateway'" *ngIf="_isEdit"></span></label>
                                            <div class="" *ngIf="_isEdit">
                                                <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('nome_gateway')" type="text" name="nome_gateway" id="nome_gateway" formControlName="nome_gateway" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                <p *ngIf="f['nome_gateway'].invalid && (f['nome_gateway'].dirty || f['nome_gateway'].touched)" class="form-text text-danger">
                                                    <span *ngIf="f['nome_gateway'].errors && f['nome_gateway'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                    <span *ngIf="f['nome_gateway'].errors && f['nome_gateway'].errors['maxlength']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.MaxLength' | translate: { length: f['nome_gateway'].errors['maxlength'].requiredLength } }}</span>
                                                </p>
                                                <ui-input-help field="nome_gateway" context="API"></ui-input-help>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group versione_gateway">
                                            <label class="label-bold" for="versione_gateway">{{ 'APP.LABEL.versione_gateway' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'versione_gateway'" *ngIf="_isEdit"></span></label>
                                            <div class="" *ngIf="_isEdit">
                                                <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('versione_gateway')" type="text" name="versione_gateway" id="versione_gateway" formControlName="versione_gateway" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                <p *ngIf="f['versione_gateway'].invalid && (f['versione_gateway'].dirty || f['versione_gateway'].touched)" class="form-text text-danger">
                                                    <span *ngIf="f['versione_gateway'].errors && f['versione_gateway'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                    <span *ngIf="f['versione_gateway'].errors && f['versione_gateway'].errors['pattern']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.IntegerGreaterThanZero' | translate }}</span>
                                                </p>
                                                <ui-input-help field="versione_gateway" context="API"></ui-input-help>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <lnk-form-field
                                            [type]="'select'"
                                            name="ruolo"
                                            [label]="'APP.LABEL.ruolo' | translate"
                                            [selectOptions]="_ruoli"
                                            [clearable]="false"
                                            [placeholder]="'APP.MESSAGE.SelectRole' | translate"
                                            [formGroup]="_formGroup"
                                            [value]="(servizioApi?.ruolo === EROGATO_SOGGETTO_DOMINIO) ? _labelDominio : _labelAderente"
                                            [isEdit]="_isEdit"
                                            [plainText]="true"
                                            [helpContext]="'API.POPOVER'"
                                            (changeEvent)="__changeRuolo($event)"
                                        ></lnk-form-field>
                                        <!-- <div class="form-group ruolo">
                                            <label class="label-bold" for="ruolo">{{ 'APP.LABEL.ruolo' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'ruolo'" *ngIf="_isEdit"></span></label>
                                            <div class="" *ngIf="_isEdit">
                                                <select class="form-select" id="ruolo" formControlName="ruolo" [class.gl-field-error-outline]="_hasControlError('ruolo')" (change)="__changeRuolo($event)" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                    <option value="">{{ 'APP.MESSAGE.SelectRole' | translate }}</option>
                                                    <option *ngFor="let ruolo of _ruoli" [value]="ruolo.value">{{ ruolo.label }}</option>
                                                </select>  
                                                <p *ngIf="f['ruolo'].invalid && (f['ruolo'].dirty || f['ruolo'].touched)" class="form-text text-danger">
                                                    <span *ngIf="f['ruolo'].errors && f['ruolo'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                </p>
                                                <ui-input-help field="ruolo" context="API"></ui-input-help>
                                            </div>
                                            <div class="" *ngIf="!_isEdit">
                                                <input type="text" readonly class="form-control-plaintext" id="ruolo" [value]="(servizioApi?.ruolo === EROGATO_SOGGETTO_DOMINIO) ? _labelDominio : _labelAderente">
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                <div *ngIf="_isNew" class="row">
                                    <div class="col-12 ms-3" *ngIf="!_specificaObbligatorio">
                                        <div class="form-group">
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" [checked]="_hasSpecifica" id="hasSpecifica" [disabled]="!_isEdit" (click)="_toggleSpecifica()">
                                                <label class="form-check-label" for="hasSpecifica">{{ 'APP.LABEL.SpecificaInterfaccia' | translate }}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group protocollo">
                                            <label class="label-bold" for="protocollo">{{ 'APP.LABEL.protocollo' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'protocollo'" *ngIf="_isEdit"></span></label>
                                            <div class="" *ngIf="_isEdit">
                                                <select class="form-select" id="protocollo" formControlName="protocollo" [class.gl-field-error-outline]="_hasControlError('protocollo')" (change)="__protocolloChange()" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                    <option value="">{{ 'APP.MESSAGE.SelectInterface' | translate }}</option>
                                                    <option *ngFor="let ti of _tipoInterfaccia" [value]="ti.value">{{ ti.label | translate }}</option>
                                                </select>  
                                                <p *ngIf="f['protocollo'].invalid && (f['protocollo'].dirty || f['protocollo'].touched)" class="form-text text-danger">
                                                    <span *ngIf="f['protocollo'].errors && f['protocollo'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                </p>
                                                <ui-input-help field="protocollo" context="API"></ui-input-help>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 specifica" *ngIf="_hasSpecifica">
                                        <ng-container *ngIf="_isEdit">
                                            <ui-allegato #des class="miw-50"
                                                [control]="_descrittoreCtrl"
                                                [label]="'APP.LABEL.specifica' | translate"
                                                [required]="_specificaObbligatorio || _hasSpecifica"
                                                (resetControl)="_onDescrittoreChange(_descrittoreCtrl.value)"
                                                (fileChanged)="_onDescrittoreChange(_descrittoreCtrl.value)"
                                                [disabled]="!f['protocollo'].value || !('allegati' | mapper:_canEditFieldMapper)"
                                                [maxUpload]="null"
                                            ></ui-allegato>
                                            <ui-input-help field="filename" context="ALLEGATI"></ui-input-help>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="form-group descrizione">
                                    <label class="label-bold" for="descrizione">{{ 'APP.LABEL.descrizione' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'descrizione'" *ngIf="_isEdit"></span></label>
                                    <div class="" *ngIf="_isEdit">
                                        <textarea aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('descrizione')" name="descrizione" id="descrizione" formControlName="descrizione" rows="4" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant"></textarea>
                                        <p *ngIf="f['descrizione'].invalid && (f['descrizione'].dirty || f['descrizione'].touched)" class="form-text text-danger">
                                            <span *ngIf="f['descrizione'].errors && f['descrizione'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                            <span *ngIf="f['descrizione'].errors && f['descrizione'].errors['maxlength']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.MaxLength' | translate: { length: f['descrizione'].errors['maxlength'].requiredLength } }}</span>
                                        </p>
                                        <ui-input-help field="descrizione" context="API"></ui-input-help>
                                    </div>
                                    <div class="" *ngIf="!_isEdit">
                                        <p class="mt-1 white-space-pre">{{ servizioApi?.descrizione || '-' }}</p>
                                    </div>
                                </div>
                                <div class="form-group codice_asset" *ngIf="_codiceAssetObbligatorio">
                                    <label class="label-bold" for="codice_asset">{{ 'APP.LABEL.codice_asset' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'codice_asset'" *ngIf="_isEdit"></span></label>
                                    <div class="" *ngIf="_isEdit">
                                        <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('codice_asset')" type="text" name="codice_asset" id="codice_asset" formControlName="codice_asset" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                        <p *ngIf="f['codice_asset'].invalid && (f['codice_asset'].dirty || f['codice_asset'].touched)" class="form-text text-danger">
                                            <span *ngIf="f['codice_asset'].errors && f['codice_asset'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                            <span *ngIf="f['codice_asset'].errors && f['codice_asset'].errors['maxlength']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.MaxLength' | translate: { length: f['codice_asset'].errors['maxlength'].requiredLength } }}</span>
                                        </p>
                                        <ui-input-help field="codice_asset" context="API"></ui-input-help>
                                    </div>
                                    <div class="" *ngIf="!_isEdit">
                                        <input type="text" readonly class="form-control-plaintext" id="protocollo" [value]="servizioApi?.codice_asset || '-'">
                                    </div>
                                </div>
                                <div class="row" *ngIf="_isNew && f['ruolo'].value === EROGATO_SOGGETTO_DOMINIO">
                                    <div class="col-12">
                                        <div class="form-group url_produzione">
                                            <label class="label-bold" for="url_produzione">{{ 'APP.LABEL.url_produzione' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'url_produzione'" *ngIf="_isEdit"></span></label>
                                            <div class="" *ngIf="_isEdit">
                                                <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('url_produzione')" type="text" name="url_produzione" id="url_produzione" formControlName="url_produzione" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                <p *ngIf="f['url_produzione'].invalid && (f['url_produzione'].dirty || f['url_produzione'].touched)" class="form-text text-danger">
                                                    <span *ngIf="f['url_produzione'].errors && f['url_produzione'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                </p>
                                                <ui-input-help field="url_produzione" context="API"></ui-input-help>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group url_collaudo">
                                            <label class="label-bold" for="url_collaudo">{{ 'APP.LABEL.url_collaudo' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'url_collaudo'" *ngIf="_isEdit"></span></label>
                                            <div class="" *ngIf="_isEdit">
                                                <input aria-required="true" autofocus="autofocus" autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('url_collaudo')" type="text" name="url_collaudo" id="url_collaudo" formControlName="url_collaudo" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                <p *ngIf="f['url_collaudo'].invalid && (f['url_collaudo'].dirty || f['url_collaudo'].touched)" class="form-text text-danger">
                                                    <span *ngIf="f['url_collaudo'].errors && f['url_collaudo'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                </p>
                                                <ui-input-help field="url_collaudo" context="API"></ui-input-help>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2 auth" *ngIf="f['ruolo'].value === EROGATO_SOGGETTO_DOMINIO && (_descrittoreCtrl.value || !_hasSpecifica)">
                                    <div class="col-12 mb-2" *ngIf="(_customAuth || _customAuthOrig)">
                                        <h4 class="pb-2 border-bottom">{{ 'APP.TITLE.Autenticazioni' | translate }}</h4>
                                    </div>
                                    <div class="col-12 mb-4" *ngIf="(_customAuth || _customAuthOrig)">
                                        <div class="border-bottom"></div>
                                    </div>

                                    <div class="col-12" *ngIf="_loadingRisorse">
                                        <span class="spinner-border spinner-border-sm"></span>
                                    </div>

                                    <div class="col-12" *ngIf="!_loadingRisorse">
                                        <div class="" formArrayName="authTypes">
                                            <ng-container *ngFor="let at of authTypesArray().controls; let authIndex = index">
                                                <div [ngClass]="{ 'text-bg-light p-3': (_customAuth || _customAuthOrig), 'border-top- border-bottom-': (_customAuth || _customAuthOrig), 'mt-3': authIndex > 0 }" >
                                                    <div [formGroupName]="authIndex">
                                                        <div class="d-flex justify-content-start mb-1" *ngIf="authTypesArray().controls.length > 1">
                                                            <span class="badge badge-light fs-8"># {{ authIndex + 1 }}</span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label class="label-bold" [for]="'profilo-' + 1">{{ 'APP.LABEL.AuthPrevista' | translate }} <span appMarkAsterisk [formGroup]="afg(authIndex)" [controlName]="'profilo'" *ngIf="_isEdit"></span></label>
                                                                    <div class="" *ngIf="_isEdit">
                                                                        <select class="form-select" [id]="'profilo-' + 1" formControlName="profilo" (change)="_onChangeProfilo($event, authIndex)" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                                            <option value="">{{ 'APP.MESSAGE.SelectAuthentication' | translate }}</option>
                                                                            <option *ngFor="let ta of _profiliFiltered | authFilter:_authSelected" [value]="ta.codice_interno">{{ ta.etichetta }}</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="" *ngIf="!_isEdit">
                                                                        <input type="text" readonly class="form-control-plaintext" id="profilo" [value]="afgc(authIndex)['profilo'].value | mapper:_getProfiloLabelMapper">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6" *ngIf="f['authTypes'].value.length > 1 || (_customAuth || _customAuthOrig)">
                                                                <!-- <pre class="overflow-auto" style="height: 200px;">{{ _risorseSelected | json }}</pre> -->
                                                                <label class="label-bold w-100">{{ 'APP.LABEL.Risorse' | translate }} <span appMarkAsterisk [formGroup]="afg(authIndex)" [controlName]="'resources'" *ngIf="_isEdit"></span> <span class="float-end" (click)="_changeResources(authIndex)" *ngIf="_isEdit && ('resources' | mapper:_canEditFieldMapper)"><i class="bi bi-pencil"></i></span></label>
                                                                <select class="form-select" formControlName="resources" multiple size="5" readonly>
                                                                    <option class="bg-transparent" *ngFor="let r of _geControlResourcest(authIndex)" [value]="r" disabled>{{ r }}</option>
                                                                </select>
                                                                <p class="form-text text-muted">{{ ('APP.MESSAGE.NumeroRisorse' | pluralTranslate:(_geControlResourcest(authIndex).length || 0)) | translate:{ count: (_geControlResourcest(authIndex).length || 0) } }}</p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="label-bold">{{ 'APP.LABEL.note' | translate }}</label>
                                                                    <div class="" *ngIf="_isEdit">
                                                                        <textarea class="form-control" formControlName="note" rows="2" disablePermission [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant"></textarea>
                                                                    </div>
                                                                    <div class="" *ngIf="!_isEdit">
                                                                        <textarea class="form-control-plaintext" id="note" rows="3"  [placeholder]="'-'" formControlName="note" readonly></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="d-flex justify-content-end" *ngIf="(authIndex > 0) && _isEdit && ('allegati' | mapper:_canEditFieldMapper)">
                                                            <button type="button" class="btn gl-button btn-danger " (click)="_removeAuthGroup(authIndex)">
                                                                <span>{{ 'APP.BUTTON.Remove' | translate }}</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            <div class="pt-3 border-top" *ngIf="_isEdit && ('allegati' | mapper:_canEditFieldMapper) && _hasSpecifica">
                                                <button type="button" class="btn gl-button btn-default" (click)="_onToggleCustomAuth()" *ngIf="!_customAuth && !_customAuthOrig">
                                                    <span>{{ 'APP.BUTTON.CustomizeAuthentication' | translate }}</span>
                                                </button>
                                                <button type="button" class="btn gl-button btn-default" (click)="_onResetCustomAuth()" *ngIf="_customAuth">
                                                    <span *ngIf="!_customAuthAdded">{{ 'APP.BUTTON.RestoreDefaultAuthentication' | translate }}</span>
                                                    <span *ngIf="_customAuthAdded">{{ 'APP.BUTTON.CancelCustomAuthentication' | translate }}</span>
                                                </button>
                                                <button type="button" class="btn gl-button btn-default ms-2" (click)="_onAddCustomAuth()" *ngIf="(_customAuth || _customAuthOrig) && (_updateResources | mapper:_canAddAuthenticationMapper)">
                                                    <span>{{ 'APP.BUTTON.AddAuthentication' | translate }}</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mt-5 api-custom-properties" *ngIf="f['ruolo'].value === EROGATO_SOGGETTO_DOMINIO && !_loadingRisorse">
                                    <div class="col-12">
                                        <ng-container *ngFor="let apc of _apiProprietaCustomGrouped | keyvalue">
                                            <ng-container *ngIf="_apiProprietaCustomGrouped[apc.key + ''].length">
                                                <h5 class="pb-2 mb-5 border-bottom">{{ apc.key | mapper:_getGroupLabelMapper }}</h5>
                                                <ng-container *ngFor="let cp of _apiProprietaCustomGrouped[apc.key + '']">
                                                    <div formArrayName="proprieta_custom" class="row custom-properties-fields">
                                                        <div [formArrayName]="cp.nome_gruppo" class="col-12 form-group">
                                                            <label class="label-bold" [for]="cp.nome">{{ cp.etichetta }} <span appMarkAsterisk [formGroup]="acfgc(cp.nome_gruppo)" [controlName]="cp.nome" *ngIf="_markAsteriskUpdated && _isEdit"></span></label>
                                                            <div class="" *ngIf="_isEdit">
                                                                <ng-container *ngIf="cp.tipo === 'text'">
                                                                    <input autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlApiCustomPropertiesError(cp.nome_gruppo, cp.nome)" [type]="cp.type" [name]="cp.nome" [id]="cp.nome" [formControlName]="cp.nome" disablePermission [field]="'allegati'" [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                                </ng-container>
                                                                <ng-container *ngIf="cp.tipo === 'select'">
                                                                    <select class="form-select" [id]="cp.nome" [formControlName]="cp.nome" [class.gl-field-error-outline]="_hasControlApiCustomPropertiesError(cp.nome_gruppo, cp.nome)" disablePermission [field]="'allegati'" [isNew]="_isNew" [module]="'servizio'" [submodule]="'api'" [state]="service?.stato" [grant]="_grant">
                                                                        <option value="">{{ 'APP.MESSAGE.Select' | translate }}</option>
                                                                        <option *ngFor="let cpv of cp.valori" [value]="cpv.nome">{{ cpv.etichetta }}</option>
                                                                    </select>
                                                                </ng-container>
                                                                <p *ngIf="acfgc(cp.nome_gruppo).controls[cp.nome]?.invalid && (acfgc(cp.nome_gruppo).controls[cp.nome]?.touched)" class="form-text text-danger">
                                                                    <span *ngIf="acfgc(cp.nome_gruppo).controls[cp.nome]?.errors && acfgc(cp.nome_gruppo).controls[cp.nome]?.errors?.required" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                                                                    <span *ngIf="acfgc(cp.nome_gruppo).controls[cp.nome]?.errors && acfgc(cp.nome_gruppo).controls[cp.nome]?.errors?.pattern" class="d-block">{{ 'APP.MESSAGE.VALIDATION.Pattern' | translate:{pattern: cp.regular_expression } }}</span>
                                                                </p>
                                                            </div>
                                                            <div class="" *ngIf="!_isEdit">
                                                            <ng-container *ngIf="cp.tipo !== 'select'">
                                                                <input type="text" readonly class="form-control-plaintext" [id]="cp.nome" [name]="cp.nome" [value]="acfgc(cp.nome_gruppo).controls[cp.nome].value || '-'">
                                                            </ng-container>
                                                            <ng-container *ngIf="cp.tipo === 'select'">
                                                                <input type="text" readonly class="form-control-plaintext" [id]="cp.nome" [name]="cp.nome" [value]="acfgc(cp.nome_gruppo).controls[cp.nome].value | mapper:_getCustomSelectLabelMapper:cp.nome:apc.key">
                                                            </ng-container>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="gl-alert gl-alert-danger col-md-12 mt-3" *ngIf="_isEdit && _error">
                            {{ _errorMsg }}
                        </div>

                        <div class="row-content-block footer-block" *ngIf="_isEdit">
                            <button aria-label="Save" type="submit" class="gl-button btn btn-confirm gl-mr-2" [disabled]="_formGroup.invalid || _spin">
                                {{ 'APP.BUTTON.Save' | translate }} <span class="spinner-border spinner-border-sm ms-2" *ngIf="_spin"></span>
                            </button>
                            <button aria-label="Cancel" type="button" class="btn gl-button btn-default" (click)="_onCancelEdit()">
                                {{ 'APP.BUTTON.Cancel' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
