// Groups

.groups-list {
  margin: 5px 0;
  padding: 0;
  list-style: none;
}

.groups-list>li {
  padding: 10px 0;
  border-bottom: 1px solid #ececef;
  display: block;
  margin: 0;
}

.groups-list>li:last-child {
  border-bottom: 0;
}

.groups-list li a {
  text-decoration: none;
}

.groups-list>li::after {
  display: block;
  clear: both;
  content: "";
}

.group-list-tree .group-row {
  padding: 0;
  list-style: none;
}

.group-list-tree .group-row:first-child {
  border-top: 1px solid #ececef;
}

.group-list-tree .folder-toggle-wrap {
  font-size: 0;
  flex-shrink: 0;
}

.group-list-tree .folder-toggle-wrap span {
  font-size: 0.875rem;
}

.group-list-tree>.group-row:not(.has-children) .folder-caret {
  // opacity: 0;
}

.group-list-tree .item-type-icon {
  margin-top: 2px;
  width: 20px;
}

.group-list-tree .folder-toggle-wrap span {
  font-size: 0.875rem;
}

.group-list-tree .group-row-contents .group-text-container, .group-list-tree .group-row-contents .group-text {
  min-width: 0;
}

.group-list-tree .group-row-contents .group-text-container, .group-list-tree .group-row-contents .group-text {
  min-width: 0;
}

.group-list-tree .group-row-contents .group-text {
  flex-basis: 100%;
}

.group-list-tree .group-row.has-children {
  border-top: 0;
}

.group-list-tree .group-list-tree {
  margin-bottom: 0;
  margin-left: 30px;
  position: relative;
}

.group-list-tree .group-list-tree::before {
  content: '';
  display: block;
  width: 0;
  position: absolute;
  top: 5px;
  bottom: 0;
  left: -16px;
  border-left: 2px solid #dedee3;
}

.group-list-tree .group-list-tree .group-row {
  position: relative;
}

.group-list-tree .group-list-tree .group-row::before {
  content: '';
  display: block;
  width: 10px;
  height: 0;
  border-top: 2px solid #dedee3;
  position: absolute;
  top: 30px;
  left: -16px;
}

.group-list-tree .group-list-tree .group-row:last-child::before {
  background: transparent;
  height: auto;
  top: 30px;
  bottom: 0;
}

.group-list-tree .group-row-contents .group-text-container, .group-list-tree .group-row-contents .group-text {
  min-width: 0;
}

.group-list-tree .group-row-contents .group-text {
  flex-basis: 100%;
}

.group-list-tree .group-row-contents .title {
  font-size: 0.875rem;
}

.group-list-tree .group-row-contents:hover {
  border-color: #9dc7f1;
  background-color: #e9f3fc;
  cursor: pointer;
}
