<div id="route-section" class="">
    <div class="top-area container-fluid limit-container-width px-0">
      <ui-breadcrumb [breadcrumbs]="breadcrumbs" [useGroups]="true" (onClick)="onBreadcrumb($event)"></ui-breadcrumb>
      <div class="d-flex flex-grow-1">&nbsp;</div>
      <div class="nav-controls" *ngIf="!_spin">
        <app-monitor-dropdown
          [showComunications]="true"
          [showMonitoring]="false"
          [showManagement]="false"
          [returnWeb]="false"
          [otherActions]="_otherActions"
          (action)="onActionMonitor($event)">
        </app-monitor-dropdown>
      </div>
    </div>
    <section #myScroll 
      class="container-fluid limit-container-width container-scroller container-scroller-no-top-area container-scroller-no-search px-0 pt-4 container-limited-"
      (scroll)="onScroll($event)">

      <app-scroll *ngIf="_showScroll" (scrollToTop)="_onScrollToTop()"></app-scroll>
  
      <div class="settings-" *ngIf="(adesione && !_spin)">
        <div class="settings-content-">

          <div id="main">
            <div class="container-fluid">

              <div class="row">
                <div class="col-4 border-end" style="min-height: 400px;">
                  <div class="sticky-top">
                      <span *ngIf="adesione?.servizio?.immagine">
                    </span>

                    <div class="titolo-block mt-4">
                      <h4 class="d-inline text-break">{{ adesione.servizio.nome }}</h4>
                      <span class="badge badge-pill badge-primary swagger--hero-pill ml-2">v. {{ adesione.servizio.versione }}</span>
                    </div>

                    <div class="organizzazione-block stato-block mt-2">
                      <p class="lead pt-3 pb-3 project__desc">
                        <span class="text-break">{{ adesione.soggetto.organizzazione.nome }}</span>
                        <br />
                        <ui-data-type *ngIf="adesione"
                          [data]="adesione"
                          [elem]="{ field: 'stato', type: 'tag', options: 'status' }"
                          [config]="config">
                        </ui-data-type>
                      </p>
                    </div>

                    <div class="">
                      <span class="text-break">{{'APP.LABEL.SubscriptionRequest' | translate: {date: adesione.data_creazione | date: 'dd.MM.yyyy', name: adesione.utente_richiedente.nome, surname: adesione.utente_richiedente.cognome} }}</span>
                    </div>

                    <div class="mt-4">
                      <span class="text-break">{{adesione.servizio.descrizione_sintetica}}</span>
                    </div>

                    <div class="download-block row mt-4" *ngIf="canDownloadSchedaAdesioneMapper()">
                      <div class="col-12">
                        <button class="btn btn-link btn-md gl-button" (click)="downloadSchedaAdesione()" [class.disabled]="_downloading">
                          <i class="bi bi-download me-2"></i>
                          <span>{{ 'APP.ADESIONI.LABEL.DownloadScheda' | translate }}</span>
                          <span class="spinner-border spinner-border-sm ms-2" *ngIf="_downloading"></span>
                        </button>
                      </div>
                    </div>

                    <div class="referenti-block mt-5">
                      <h5 class="h6 text-uppercase text-muted mb-3">{{ 'APP.SERVICES.TITLE.Referenti' | translate }}</h5>
                      <div class="d-flex flex-column">
                        <ng-container *ngIf="referentiLoading; else referentiTmplLeaders">
                          <span class="spinner-border spinner-border-sm"></span>
                        </ng-container>
                        <ng-template #referentiTmplLeaders>
                          <ul class="list-unstyled">
                            <ng-container *ngFor="let referente of referents;let index = index;">
                              <li class="d-flex project__leaders__item mb-3" [class.hide-more]="index >= maxReferenti">
                                <span title="referente" target="_blank">
                                  <img class="align-top" alt="Avatar referente" ngxGravatar [email]="referente.email || ''" [size]="50" fallback="mp" (error)="onAvatarError($event)">
                                </span>
                                <div class="flex-column">
                                  <div class="ml-2 mb-1 d-flex referente">
                                    <span title="referente" target="_blank" class="align-self-center">{{ referente.name }}</span>
                                  </div>
                                  <div class="ml-1 d-flex ref-types">
                                    <ui-data-type class="ml-1" *ngFor="let type of referente.types"
                                      [data]="{ type: type }"
                                      [elem]="{ field: 'type', type: 'tag', options: 'type' }"
                                      [config]="config">
                                    </ui-data-type>
                                  </div>
                                </div>
                              </li>
                            </ng-container>
                          </ul>
                        </ng-template>
                      </div>
                    </div>


                  </div>
                </div>
                <div class="col-8">

                  <div class="container-fluid">

                    <div class="row justify-content-end">
                      <div class="col-4">
                        <div role="group" class="gl-w-full btn-group btn-group-toggle">
                          <button aria-label="Collaudo" type="button" class="btn btn-sm gl-button btn-secondary" [class.btn-confirm]="environment === 'collaudo'" (click)="onTestClick()">
                            <span class="text-nowrap">
                              {{ 'APP.BUTTON.Testing' | translate }}
                            </span>
                          </button>
                          <button aria-label="Produzione" type="button" class="btn btn-sm gl-button btn-secondary" [class.btn-confirm]="environment === 'produzione'" (click)="onProductionClick()">
                            <span class="text-nowrap">
                              {{ 'APP.BUTTON.Production' | translate }}
                            </span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <ui-box-spinner [color]="'primary'" [diameter]="24" [strokeWidth]="2" *ngIf="_loadingConfiguration"></ui-box-spinner>

                    <div class="api-block mt-5">
                      <ng-container *ngIf="authModes.length > 0">
                        <div class="mb-5">
                          <h6 id="api-erogato_soggetto_dominio" class="text-uppercase text-muted mb-5">
                            {{'APP.ADESIONI.TITLE.ConfigurationAuth' | translate}}
                          </h6>
                          <div class="border- border-bottom-0 list-group">
                            <ng-container *ngFor="let mode of authModes">
                              <div class="mb-2">
                                <ui-collapse-row class="border-bottom- list-group-item list-group-item-action p-1"
                                  [data]="mode"
                                  [config]="clientRowConfig"
                                  [show]="true"
                                  [enableCollapse]="true"
                                  [hostBackground]="'transparent'">
                                  <div collapse-content class="p-4 my-1 bg-lightest">
                                    <div class="d-flex flex-row">
                                      <table class="table">
                                        <tbody>
                                          <tr *ngIf="mode.canDownloadAuthCertificate">
                                            <td>{{'APP.CLIENT.LABEL.AuthenticationCertificate' | translate}}</td>
                                            <td>
                                              <button class="btn btn-default btn-sm gl-button btn-icon input-group-text- bg-white-" [disabled]="!mode.authCertificate" (click)="download(mode, mode.authCertificate)">
                                                <span>{{ 'APP.BUTTON.Download' | translate }}</span><i class="bi bi-download ms-2"></i>
                                              </button>
                                            </td>
                                          </tr>
                                          <tr *ngIf="mode.canDownloadSignCertificate">
                                            <td>{{'APP.CLIENT.LABEL.SignCertificate' | translate}}</td>
                                            <td>
                                              <button class="btn btn-default btn-sm gl-button btn-icon input-group-text- bg-white-" [disabled]="!mode.signCertificate" (click)="download(mode, mode.authCertificate)">
                                                <span>{{ 'APP.BUTTON.Download' | translate }}</span><i class="bi bi-download ms-2"></i>
                                              </button>
                                            </td>
                                          </tr>
                                          <ng-container *ngIf="mode.canViewOAuthCode">
                                            <tr>
                                              <td>{{'APP.CLIENT.LABEL.UrlRedirezione' | translate}}</td>
                                              <td>{{mode.url_redirezione}}</td>
                                            </tr>
                                            <tr>
                                              <td>{{'APP.CLIENT.LABEL.UrlEsposizione' | translate}}</td>
                                              <td>{{mode.url_esposizione}}</td>
                                            </tr>
                                            <tr>
                                              <td>{{'APP.CLIENT.LABEL.HelpDesk' | translate}}</td>
                                              <td>{{mode.help_desk}}</td>
                                            </tr>
                                            <tr>
                                              <td>{{'APP.CLIENT.LABEL.NomeApplicazionePortale' | translate}}</td>
                                              <td>{{mode.nome_applicazione_portale}}</td>
                                            </tr>
                                          </ng-container>
                                          <tr *ngIf="mode.canViewClientId">
                                            <td>{{mode.client_id_label | translate}}</td>
                                            <td>{{mode.client_id}}</td>
                                          </tr>
                                          <tr *ngIf="mode.canViewUsername">
                                            <td>{{'APP.LABEL.Username' | translate}}</td>
                                            <td>{{mode.username}}</td>
                                          </tr>
                                          <tr *ngIf="mode.description">
                                            <td>{{'APP.LABEL.Description' | translate}}</td>
                                            <td>{{mode.description}}</td>
                                          </tr>
                                          <tr *ngIf="mode.canViewIpfruizione">
                                            <td>{{'APP.ADESIONI.TITLE.IPfruizione' | translate}}</td>
                                            <td>{{mode.ip}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </ui-collapse-row>
                              </div>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </div>

                    <div class="api-block mt-5">
                      <ng-container *ngIf="apis.length > 0">
                        <div class="mb-5">
                          <h6 id="api-erogato_soggetto_dominio" class="text-uppercase text-muted mb-5">
                            {{'APP.ADESIONI.TITLE.ConfigurationAPI' | translate}}
                          </h6>
                          <div class="border- border-bottom-0 list-group">
                            <ng-container *ngFor="let api of apis">
                              <ui-collapse-row class="border-bottom- list-group-item list-group-item-action p-1"
                                [data]="api"
                                [config]="clientRowConfig"
                                [show]="true"
                                [enableCollapse]="true"
                                [hostBackground]="'transparent'">
                                <div collapse-content class="p-4 my-1 bg-lightest">
                                  <div class="d-flex flex-row">
                                    <table class="table">
                                      <tbody>
                                        <tr>
                                          <td>{{'APP.LABEL.Url' | translate}}</td>
                                          <td>{{api.url}}</td>
                                        </tr>
                                        <tr>
                                          <td>{{'APP.ADESIONI.TITLE.IPaddresses' | translate}}</td>
                                          <td>{{api.ip}}</td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </ui-collapse-row>
                            </ng-container>
                          </div>
                        </div>
                      </ng-container>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  