<div class="dropdown b-dropdown gl-new-dropdown btn-group" id="export">
  <button type="button" aria-label="Menu esportazione" class="btn dropdown-toggle btn-default btn-md gl-button gl-dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" id="export-actions" [disabled]="disabled">
    <i class="bi bi-download"></i>
    <span class="ms-2">{{ 'APP.MENU.Export' | translate }}</span>
    <i class="bi bi-chevron-down ms-2"></i>
  </button>
  <ul tabindex="-1" class="dropdown-menu dropdown-menu-end">
    <div class="gl-new-dropdown-inner">
      <div class="gl-new-dropdown-contents">
        @if (menuActions.length) {
          @for (menu of menuActions; track $index) {
            <ng-container>
              @switch (menu.type) {
                @case ('divider') {
                  <li class="gl-new-dropdown-divider">
                    <hr aria-orientation="horizontal" class="dropdown-divider">
                  </li>
                }
                @case ('submenu') {
                  @if (menu.title) {
                    <li class="pt-2 gl-dropdown-item">
                      <label for="" class="label-bold gl-px-4! mb-2">{{ menu.title | translate }}</label>
                    </li>
                  }
                  @for (submenu of menu.submenus; track submenu) {
                    <ng-container>
                      <li class="gl-new-dropdown-item">
                        <button role="menuitem" type="button" class="dropdown-item" (click)="onAction(submenu);" [disabled]="!submenu.enabled">
                          @if (submenu.icon) {
                            <div class="gl-icon s16 gl-new-dropdown-item-check-icon gl-mt-3 gl-align-self-start">
                              <i class="bi bi-{{ submenu.icon }}"></i>
                            </div>
                          }
                          @if (submenu.title) {
                            <div class="gl-new-dropdown-item-text-wrapper me-0">
                              <p class="gl-new-dropdown-item-text-primary d-flex justify-content-between align-items-center">
                                <span>{{ submenu.title | translate }}</span>
                                @if (menu.badge) {
                                  <span class="gl-badge badge badge-pill badge-neutral sm js-assigned-mr-count gl-ml-auto">{{ menu.badge }}</span>
                                }
                              </p>
                            </div>
                          }
                        </button>
                      </li>
                    </ng-container>
                  }
                }
                @case ('label') {
                  @if (menu.title) {
                    <li class="pt-2 gl-dropdown-item">
                      <label for="" class="label-bold gl-px-4! mb-2">{{ menu.title | translate }}</label>
                    </li>
                  }
                }
                @default {
                  <li class="gl-new-dropdown-item">
                    <button role="menuitem" type="button" class="dropdown-item" (click)="onAction(menu);" [disabled]="!menu.enabled">
                      @if (menu.icon) {
                        <div class="gl-icon s16 gl-new-dropdown-item-check-icon gl-mt-3 gl-align-self-start">
                          <i class="bi bi-{{ menu.icon }}"></i>
                        </div>
                      }
                      @if (menu.title) {
                        <div class="gl-new-dropdown-item-text-wrapper me-0">
                          <p class="gl-new-dropdown-item-text-primary d-flex justify-content-between align-items-center">
                            <span>{{ menu.title | translate }}</span>
                            @if (menu.badge) {
                              <span class="gl-badge badge badge-pill badge-neutral sm js-assigned-mr-count gl-ml-auto">{{ menu.badge }}</span>
                            }
                          </p>
                        </div>
                      }
                    </button>
                  </li>
                }
              }
            </ng-container>
          }
        }
        @if (countSelected && uncheckAllInTheMenu) {
          <li class="gl-new-dropdown-divider">
            <hr aria-orientation="horizontal" class="dropdown-divider">
          </li>
        }
        @if (countSelected && uncheckAllInTheMenu) {
          <li class="gl-new-dropdown-item">
            <button role="menuitem" type="button" class="dropdown-item" (click)="onAction(ActionEnum.DESELECT_ALL)">
              <div class="gl-new-dropdown-item-text-wrapper me-0">
                <p class="gl-new-dropdown-item-text-primary d-flex justify-content-start">
                  <span>{{ 'APP.MENU.DeselectAll' | translate }}</span>
                </p>
              </div>
            </button>
          </li>
        }
      </div>
    </div>
  </ul>
</div>
