<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%p &lt;%d{dd-MM-yyyy HH:mm:ss.SSS}&gt; %C.%M(%L): %m %n %n</Property>
        <Property name="APP_LOG_ROOT">@org.govway.catalogo.log.path@</Property>
    </Properties>
    <Appenders>
        <RollingFile name="root"
            fileName="${APP_LOG_ROOT}/govcat-web_root.log"
            filePattern="${APP_LOG_ROOT}/govcat-web_root.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
        
        <RollingFile name="core"
            fileName="${APP_LOG_ROOT}/govcat-web_core.log"
            filePattern="${APP_LOG_ROOT}/govcat-web_core.log.%i">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="5000KB" />
            </Policies>
            <DefaultRolloverStrategy max="5" />
        </RollingFile>
 
    </Appenders>
    <Loggers>
 
        <Logger name="org.govway.catalogo" level="@org.govway.catalogo.log.level@" additivity="false">
            <AppenderRef ref="core" />
        </Logger>
        
        <Logger name="org.springframework" level="@org.govway.catalogo.log.level@" additivity="false">
            <AppenderRef ref="root" />
        </Logger>
        
        <Logger name="boot" level="@org.govway.catalogo.log.level@" additivity="false">
			<AppenderRef ref="root" />
		</Logger>
        
        <Root level="@org.govway.catalogo.log.level@" additivity="false">
            <AppenderRef ref="root" />
        </Root>
        
    </Loggers>
</Configuration>
