<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Catalogo - ModI</display-name>

	<servlet>
		<servlet-name>error</servlet-name>
		<jsp-file>/error.jsp</jsp-file>
	</servlet>

	<servlet>
		<servlet-name>code-grant-authorization</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>code-grant-authorization</servlet-name>
		<url-pattern>/code-grant-authorization</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>error</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

	<error-page>
		<error-code>404</error-code>
		<location>/index.jsp</location>
	</error-page>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 1. Definizione delle aree protette -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Area Protetta</web-resource-name>
			<!-- proteggi tutto sotto /protected/* -->
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<!-- chi può accedere -->
			<role-name>user</role-name>
		</auth-constraint>
		<!-- opzionale: disabilita la trasmissione in chiaro -->
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<!-- 2. Configurazione del metodo di autenticazione -->
	<login-config>
		<!-- BASIC oppure FORM -->
		<auth-method>BASIC</auth-method>
		<realm-name>ApplicationRealm</realm-name>
	</login-config>

	<!-- 3. Dichiarazione dei ruoli riconosciuti dall’applicazione -->
	<security-role>
		<role-name>user</role-name>
	</security-role>
</web-app>
