.news-area {
    width: 100%;
    padding: 0px 12px 6px 12px;  
}

.about-area {
    width: 100%;
    // padding: 0px 12px 6px 12px;
}

.version-area {
    width: 100%;
    .version-text {
        font-size: 0.85em;
        font-weight: 500;
    }
}
