<div id="route-section" class="">
    <div class="breadcrumbs-area">
        <ui-breadcrumb [breadcrumbs]="breadcrumbs" (onClick)="onBreadcrumb($event)"></ui-breadcrumb>
    </div>
    <div class="top-area">
        <div class="tabs gl-tabs d-flex p-0 m-0 flex-grow-1 mobile-separator">
            <div class="">
                <ul class="nav gp-border-b-0 gp-tabs-nav">
                    <li class="nav-item">
                        <a tabindex="0" target="_self" class="nav-link gp-tab-nav-item gp-tab-nav-item-active cursor-pointer" (click)="_resetScroll()" [attr.aria-label]="('APP.FILTER.Found' | translate) + ' ' + gruppi.length">
                            <span title="Show all issues.">{{ 'APP.FILTER.Found' | translate }}</span>
                            <span class="badge gp-tab-counter-badge badge-muted badge-pill gp-badge sm" [title]="gruppi.length">{{ gruppi.length }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nav-controls align-self-center d-flex">
            <button type="button" class="btn btn-default btn-md gl-button btn-default-tertiary me-4" *ngIf="_spin">
                <span class="spinner-border spinner-border-sm text-primary"></span>
            </button>
            <ng-template [appHasPermission]="'gruppi'" [action]="'create'">
                <div class="">
                    <button aria-label="Add group" type="button" class="btn btn-confirm btn-md gl-button" (click)="_onNew()">
                        <i class="bi bi-plus-lg"></i><span class="text-nowrap ms-2">{{ 'APP.BUTTON.AddGroup' | translate }}</span>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
    <section class="search-bar container-fluid px-0" *ngIf="_hasFilter">
        <div class="row align-items-center">
            <div class="col-12">
                <ui-search-bar-form #searchBarForm [classBlock]="''" [placeholder]="'APP.PLACEHOLDER.Search' | translate"
                    [showHistory]="showHistory"
                    [historyStore]="'gruppi'"
                    [showSearch]="showSearch"
                    [searchFields]="searchFields"
                    [showSorting]="showSorting"
                    [sortField]="sortField"
                    [sortDirection]="sortDirection"
                    [sortFields]="sortFields"
                    [formGroup]="_formGroup"
                    (onSearch)="_onSearch($event)"
                    (onSort)="_onSort($event)"
                >
                    <div form-search>
                        <form class="row" [formGroup]="_formGroup" (submit)="_onSubmit(_formGroup.value)">
                            <fieldset>
                                <div class="row">
                                </div>
                                <button type="submit" class="d-none">hidden submit</button>
                            </fieldset>
                        </form>
                    </div>
                </ui-search-bar-form>
            </div>
        </div>
    </section>
    <section id="container-scroller" class="container-fluid container-scroller px-0" [class.container-scroller-no-search]="!_hasFilter"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        (scrolled)="__loadMoreData()"
        [scrollWindow]="false"
    >
        <ui-box-spinner [color]="'primary'" [diameter]="36" [strokeWidth]="3" *ngIf="_spin && gruppi.length === 0"></ui-box-spinner>

        <ui-box-message *ngIf="gruppi.length == 0 && !_spin"
            [size]="64"
            [icon]="'report_problem'"
            [image]="'./assets/images/illustrations/gruppi.svg'"
            [message]="_message | translate"
            [subMessage]="_messageHelp | translate"
        ></ui-box-message>

        <ng-template [ngIf]="true">
            <div class="mt-0">
                <container
                    recursive
                    [children]="gruppi"
                    [isEditable]="'gruppi' | mapper:_hasPermissioMapper:'create'"
                    (open)="onOpen($event)"
                    (action)="onAction($event)"
                ></container>
            </div>
        </ng-template>
    </section>
</div>

<ng-template #editTemplate>
    <div class="modal-content">
        <form [formGroup]="_editFormGroup" (submit)="saveModal(_editFormGroup.value)">
            <div class="modal-header pb-2">
                <h5 class="modal-title pull-left">
                    {{ ((_isNew ? 'APP.GROUPS.TITLE.Add' : 'APP.GROUPS.TITLE.Edit')) | translate }}
                    <span *ngIf="_currentGroup">{{ 'APP.TITLE.To' | translate }} "{{ _currentGroup.nome }}"</span>
                </h5>
                <button type="button" class="btn btn-default btn-md gl-button btn-default-tertiary pull-right p-0-" aria-label="Close" (click)="closeModal()">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="p-3">
                    <div class="form-group gruppo_padre">
                        <label class="label-bold" for="id_gruppo_padre_label">{{ 'APP.LABEL.GruppoPadre' | translate }}</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm cursor-pointer" id="id_gruppo_padre_label" formControlName="id_gruppo_padre_label" readonly (click)="openChoiceGroupModal($event)">
                            <button class="btn btn-default btn-md gl-button btn-default-tertiary btn-icon" type="button" (click)="clearGroup($event)" *ngIf="_editFormGroup.controls['id_gruppo_padre'].value"><i class="bi bi-x-lg"></i></button>
                            <button class="btn btn-default btn-md gl-button btn-default-tertiary btn-icon" type="button" (click)="openChoiceGroupModal($event)"><i class="bi bi-collection"></i></button>
                        </div>
                    </div>
                    <div class="form-group nome">
                        <label class="label-bold" for="nome">{{ 'APP.LABEL.nome' | translate }} <span appMarkAsterisk [formGroup]="_editFormGroup" [controlName]="'nome'"></span></label>
                        <input autocomplete="off" class="form-control" [class.gl-field-error-outline]="_hasControlError('nome')" type="text" name="nome" id="nome" formControlName="nome" appTrimOnBlur>
                        <p *ngIf="f['nome'].invalid && (f['nome'].dirty || f['nome'].touched)" class="form-text text-danger">
                            <span *ngIf="f['nome'].errors && f['nome'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                            <span *ngIf="f['nome'].errors && f['nome'].errors['notOnlyWhitespace']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.NotOnlyWhitespace' | translate }}</span>
                            <span *ngIf="f['nome'].errors && f['nome'].errors['maxlength']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.MaxLength' | translate: { length: f['nome'].errors['maxlength'].requiredLength } }}</span>
                        </p>
                        <ui-input-help field="nome" context="GROUPS"></ui-input-help>
                    </div>
                    <div class="form-group descrizione_sintetica">
                        <label class="label-bold" for="descrizione_sintetica">{{ 'APP.LABEL.descrizione_sintetica' | translate }} <span appMarkAsterisk [formGroup]="_editFormGroup" [controlName]="'descrizione_sintetica'"></span></label>
                        <textarea aria-required="true" class="form-control" [class.gl-field-error-outline]="_hasControlError('descrizione_sintetica')" type="text" name="descrizione_sintetica" id="descrizione_sintetica" formControlName="descrizione_sintetica" rows="2" appTrimOnBlur></textarea>
                        <p *ngIf="f['descrizione_sintetica'].invalid && (f['descrizione_sintetica'].dirty || f['descrizione_sintetica'].touched)" class="form-text text-danger">
                            <span *ngIf="f['descrizione_sintetica'].errors && f['descrizione_sintetica'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                            <span *ngIf="f['descrizione_sintetica'].errors && f['descrizione_sintetica'].errors['maxlength']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.MaxLength' | translate: { length: f['descrizione_sintetica'].errors['maxlength'].requiredLength } }}</span>
                        </p>
                        <ui-input-help field="descrizione_sintetica" context="GROUPS"></ui-input-help>
                    </div>
                    <div class="form-group descrizione">
                        <label class="label-bold" for="descrizione">{{ 'APP.LABEL.descrizione' | translate }} <span appMarkAsterisk [formGroup]="_editFormGroup" [controlName]="'descrizione'"></span></label>
                        <textarea aria-required="true" class="form-control" [class.gl-field-error-outline]="_hasControlError('descrizione')" type="text" name="descrizione" id="descrizione" formControlName="descrizione" rows="4" appTrimOnBlur></textarea>
                        <p *ngIf="f['descrizione'].invalid && (f['descrizione'].dirty || f['descrizione'].touched)" class="form-text text-danger">
                            <span *ngIf="f['descrizione'].errors && f['descrizione'].errors['required']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                            <span *ngIf="f['descrizione'].errors && f['descrizione'].errors['maxlength']" class="d-block">{{ 'APP.MESSAGE.VALIDATION.MaxLength' | translate: { length: f['descrizione'].errors['maxlength'].requiredLength } }}</span>
                        </p>
                        <ui-input-help field="descrizione" context="GROUPS"></ui-input-help>
                    </div>
                    <div class="form-group logo">
                        <label class="label-bold" for="logo">{{ 'APP.LABEL.logo' | translate }}</label>
                        <div class="">
                            <app-photo-base64
                                [boxWidth]="'160px'"
                                [boxHeight]="'auto'"
                                [maxSize]="20971520"
                                [placeHolder]="_imagePlaceHolder"
                                [imageSaved]="{ path: _data | mapper:_getLogoMapper } | httpImgSrc"
                                [isImageSaved]="_data?.immagine ? true : false"
                                [removeLabel]="'APP.BUTTON.Remove' | translate"
                                (imageLoaded)="_onImageLoaded($event)"
                            ></app-photo-base64>
                        </div>
                    </div>
                </div>
                <div class="gl-alert gl-alert-danger" *ngIf="_error">
                    {{ _errorMsg }}
                </div>
            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-default btn-md gl-button" (click)="closeModal()">{{ 'APP.BUTTON.Close' | translate }}</button>
                <button type="submit" class="btn btn-confirm btn-md gl-button" [disabled]="_editFormGroup.invalid || _saving">
                    <span class="">{{ 'APP.BUTTON.Save' | translate }}</span><span class="ms-2 spinner-border spinner-border-sm" *ngIf="_saving"></span>
                </button>
            </div>
        </form>
    </div>
</ng-template>
