@import 'app-variables';
@import 'material-icons/iconfont/filled.css';
@import 'material-icons/iconfont/outlined.css';
@import 'bootstrap/dist/css/bootstrap.min.css';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "ngx-bootstrap/datepicker/bs-datepicker.css";
@import 'placeholder-loading/src/scss/placeholder-loading';
@import 'app-sidenav';
@import 'app-table';
@import 'app-animate';
@import 'app-highlighter';
@import 'app-status-label';
@import 'app-logo';
@import 'app-components';
@import 'app-modal-custom';
@import 'app-switch';
@import 'app-markdown';
@import 'app-search-material-custom';
@import 'app-dashboard';
@import 'app-navigation';
@import 'gl-layout/gl-all';
@import 'app-custom';
