<div id="route-section" class="">
  <div class="top-area px-0">
    <ui-breadcrumb [breadcrumbs]="breadcrumbs" [useGroups]="true" (onClick)="onBreadcrumb($event)"></ui-breadcrumb>
    <div class="d-flex flex-grow-1">&nbsp;</div>
    <div class="nav-controls">
      <!-- <div class="position-relative" *ngIf="service">
        <app-back-web [service_id]="service.id_servizio"></app-back-web>
      </div> -->
    </div>
  </div>
  <div class="top-area">
    <div class="tabs gp-tabs d-flex flex-grow-1 p-0 m-0 mobile-separator issuable-state-filters">
      <div class="">
        <ul class="nav gp-border-b-0 gp-tabs-nav">
          <li class="nav-item">
            <a tabindex="0" target="_self" class="nav-link gp-tab-nav-item cursor-pointer" [class.gp-tab-nav-item-active]="_isCollaudo()" (click)="_showCollaudo()" [attr.aria-label]="_allElements || elements.length">
              <span>{{ 'APP.FILTER.Testing' | translate }}</span> <span class="badge gp-tab-counter-badge badge-muted badge-pill gp-badge sm" [title]="_allElements" *ngIf="_isCollaudo()">{{ _allElements || elements.length }}</span>
            </a>
          </li>
          <li class="nav-item">
            <a tabindex="0" target="_self" class="nav-link gp-tab-nav-item cursor-pointer" [class.gp-tab-nav-item-active]="!_isCollaudo()" (click)="_showProduzione()" [attr.aria-label]="_allElements || elements.length">
              <span>{{ 'APP.FILTER.Production' | translate }}</span> <span class="badge gp-tab-counter-badge badge-muted badge-pill gp-badge sm" [title]="_allElements" *ngIf="!_isCollaudo()">{{ _allElements || elements.length }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-control align-self-center d-flex">
      <div class="btn-group-">
        <button type="button" class="btn btn-default btn-md gl-button btn-icon" (click)="_onExportTransazioni()" [disabled]="!_formGroup.valid || _spinExport || (elements.length === 0)">
          <i class="bi bi-download"></i> <span class="ms-2">{{ 'APP.MENU.Export' | translate }}</span>
          <span class="ms-3 spinner-border spinner-border-sm" *ngIf="_spinExport"></span>
        </button>
      </div>
    </div>
  </div>
  <section class="search-bar container-fluid px-0" *ngIf="_hasFilter">
    <div class="row align-items-center">
      <div class="col-12">
        <ui-search-google-form #searchGoogleForm
          [classBlock]="''"
          [placeholder]="'APP.PLACEHOLDER.Search' | translate"
          [showHistory]="showHistory"
          [historyStore]="model"
          [showSearch]="showSearch"
          [searchFields]="searchFields"
          [showSorting]="showSorting"
          [sortField]="sortField"
          [sortDirection]="sortDirection"
          [sortFields]="sortFields"
          [formGroup]="_formGroup"
          [freeSearch]="false"
          [outsideClickDisable]="ddp.isOpen || dap.isOpen"
          (onSearch)="_onSearch($event)"
          (onSort)="_onSort($event)">
          <div form-search class="" [class.search-material-custom]="_useNewSearchUI">
            <form class="row gl-show-field-errors" [formGroup]="_formGroup" (submit)="_onSubmit(_formGroup.value)">
              <fieldset>
                <div class="row">
                  <div class="col-2">
                    <label class="col-form-label col-form-label-fix" for="search_type">{{ 'APP.LABEL.SearchType' | translate }}
                      <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'search_type'"></span>
                    </label>
                  </div>
                  <div class="col-sm-10">
                    <select class="form-select form-control-sm" id="search_type" formControlName="search_type" [class.gl-field-error-outline]="_hasControlError('search_type')">
                      <option *ngFor="let type of _searchTypes" [value]="type.value">
                        {{ type.label }}
                      </option>
                    </select>
                    <p *ngIf="_formGroup.get('search_type')?.dirty || _formGroup.get('search_type')?.touched" class="form-text text-danger">
                      <span *ngIf="_formGroup.get('search_type')?.hasError('required')" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                    </p>
                  </div>
                </div>

                <div [class.d-none]="!(_formGroup.get('search_type')?.value === SearchTypeEnum.Generic)">
                  <div class="row mb-1">
                    <div class="col-sm-2">
                      <label class="col-form-label col-form-label-fix">{{ 'APP.LABEL.Date' | translate }}</label>
                    </div>
                    <div class="col-sm-10">
                      <div class="d-flex justify-content-between">
                        <div class="flex-fill d-flex">
                          <label for="data_da" class="col-form-label me-3">{{ 'APP.LABEL.From' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'data_da'"></span></label>
                          <div class="input-group position-relative">
                            <input class="form-control form-control-sm" #ddp="bsDatepicker"
                              type="text"
                              autocomplete="off"
                              placeholder="gg/mm/aaaa, --:--"
                              [maxDate]="_formGroup.controls['data_a'].value"
                              id="data_da"
                              formControlName="data_da"
                              [bsConfig]="_bsDateConfig"
                              bsDatepicker>
                            <span class="input-group-append">
                              <div class="input-post-icon cursor-pointer" (click)="ddp.toggle()"><i class="bi bi-calendar"></i></div>
                            </span>
                          </div>
                        </div>
                        <div class="flex-fill d-flex">
                          <label for="data_a" class="col-form-label mx-3">{{ 'APP.LABEL.To' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'data_da'"></span></label>
                          <div class="input-group position-relative">
                            <input class="form-control form-control-sm" #dap="bsDatepicker"
                              type="text"
                              autocomplete="off"
                              placeholder="gg/mm/aaaa, --:--"
                              [minDate]="_formGroup.controls['data_da'].value"
                              id="data_a"
                              formControlName="data_a"
                              [bsConfig]="_bsDateConfig"
                              bsDatepicker>
                            <span class="input-group-append">
                              <div class="input-post-icon cursor-pointer" (click)="dap.toggle()"><i class="bi bi-calendar"></i></div>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row mb-1">
                    <div class="col-sm-2">
                      <label class="col-form-label col-form-label-fix">{{ 'APP.LABEL.Subject' | translate }}</label>
                    </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control form-control-sm" id="soggetto" formControlName="soggetto">
                    </div>
                  </div> -->
                  <div *ngIf="_monitoraggioLimitata">
                    <div class="row mb-1">
                      <div class="col-sm-2">
                        <label class="col-form-label col-form-label-fix" for="id_api">{{ 'APP.LABEL.id_api' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'id_api'"></span></label>
                      </div>
                      <div class="col-sm-10">
                        <ng-select class="" [class.gl-field-error-outline]="_hasControlError('id_api')" (click)="onSelectedSearchDropdwon($event)"
                          [items]="servizioApis$ | async"
                          [trackByFn]="trackApiBySelectFn"
                          [typeahead]="servizioApisInput$"
                          [minTermLength]="minLengthTerm" 
                          [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                          [typeToSearchText]="'APP.MESSAGE.PleaseEnterMin' | translate:{ lengthTerm: minLengthTerm }"
                          labelForId="id_api"
                          [editableSearchTerm]="true"
                          bindValue="id_api"
                          formControlName="id_api"
                          (change)="onChangeApiSearchDropdwon($event)">
                          <ng-template ng-label-tmp let-item="item">
                            {{ item.nome }}
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <div class="fw-bold">{{ item.nome }}</div>
                            <div class="">
                              <span class="small text-muted">{{ item.descrizione }}</span>
                            </div>
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                    <div class="row mb-1" *ngIf="_apiSelected?.ruolo === 'erogato_soggetto_aderente'">
                      <div class="col-sm-2">
                        <label class="col-form-label col-form-label-fix" for="id_adesione">{{ 'APP.LABEL.id_adesione' | translate }} <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'id_adesione'"></span></label>
                      </div>
                      <div class="col-sm-10">
                        <ng-select class="" [class.gl-field-error-outline]="_hasControlError('id_adesione')" (click)="onSelectedSearchDropdwon($event)"
                          [items]="adesioni$ | async"
                          [trackByFn]="trackAdesioniBySelectFn"
                          [typeahead]="adesioniInput$"
                          [minTermLength]="minLengthTerm" 
                          [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                          [typeToSearchText]="'APP.MESSAGE.PleaseEnterMin' | translate:{ lengthTerm: minLengthTerm }"
                          labelForId="id_adesione"
                          [editableSearchTerm]="true"
                          bindValue="id_adesione"
                          formControlName="id_adesione"
                          (change)="onChangeAdesioneSearchDropdwon($event)">
                          <ng-template ng-label-tmp let-item="item">
                            {{ item?.soggetto?.nome }}
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                            <div class="fw-bold">{{ item.soggetto.nome }}</div>
                            <div class="">
                              <span class="small text-muted">{{ item.soggetto.descrizione }}</span>
                            </div>
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-2">
                      <label class="col-form-label col-form-label-fix" for="esito">{{ 'APP.LABEL.Outcome' | translate }}
                        <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'esito'"></span>
                      </label>
                    </div>
                    <div class="col-sm-10">
                      <ng-select class="" [class.gl-field-error-outline]="_hasControlError('esito')" (click)="onSelectedSearchDropdwon($event)"
                        [items]="outcomes"
                        [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                        labelForId="esito"
                        bindValue="value"
                        formControlName="esito">
                        <ng-template ng-label-tmp let-item="item">
                          {{ item.label }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                          <div class="fw-bold">{{ item.label }}</div>
                        </ng-template>
                      </ng-select>
                      <p *ngIf="_formGroup.get('esito')?.dirty || _formGroup.get('esito')?.touched" class="form-text text-danger">
                        <span *ngIf="_formGroup.get('esito')?.hasError('required')" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                      </p>
                    </div>
                  </div>

                  <div class="row" *ngIf="_formGroup.get('transaction_outcome_codes')?.enabled">
                    <div class="col-2">
                      <label class="col-form-label col-form-label-fix" for="transaction_outcome_codes">{{ 'APP.LABEL.ReportTransactionDetailedOutcome' | translate }}
                        <span appMarkAsterisk [formGroup]="_formGroup" [controlName]="'transaction_outcome_codes'"></span>
                      </label>
                    </div>
                    <div class="col-sm-10">
                      <ng-select class="" [class.gl-field-error-outline]="_hasControlError('transaction_outcome_codes')" (click)="onSelectedSearchDropdwon($event)"
                        [items]="transactionDetailedOutcomes"
                        [multiple]="true"
                        [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                        labelForId="transaction_outcome_codes"
                        bindValue="value"
                        formControlName="transaction_outcome_codes">
                        <ng-template ng-label-tmp let-item="item">
                          {{ item.label }}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                          <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/> {{ item.label}}
                        </ng-template>
                      </ng-select>
                      <p *ngIf="_formGroup.get('transaction_outcome_codes')?.dirty || _formGroup.get('transaction_outcome_codes')?.touched" class="form-text text-danger">
                        <span *ngIf="_formGroup.get('transaction_outcome_codes')?.hasError('required')" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="" [class.d-none]="!(_formGroup.get('search_type')?.value === SearchTypeEnum.Transaction)">
                  <div class="row mb-1">
                    <div class="col-sm-2">
                      <label class="col-form-label col-form-label-fix" for="id_transazione">{{ 'APP.LABEL.IdTransazione' | translate }}
                        <span appMarkAsterisk [formGroup]="_formGroup" controlName="id_transazione"></span>
                      </label>
                      </div>
                    <div class="col-sm-10">
                      <input type="text" class="form-control form-control-sm" id="id_transazione" formControlName="id_transazione">
                      <p *ngIf="_formGroup.get('id_transazione')?.dirty || _formGroup.get('id_transazione')?.touched" class="form-text text-danger">
                        <span *ngIf="_formGroup.get('id_transazione')?.hasError('required')" class="d-block">{{ 'APP.MESSAGE.VALIDATION.FieldRequired' | translate }}</span>
                        <span *ngIf="_formGroup.get('id_transazione')?.hasError('uuid')" class="d-block">{{ 'APP.MESSAGE.VALIDATION.Uuid' | translate }}</span>
                      </p>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-end pt-4" *ngIf="_useNewSearchUI">
                  <button type="button" class="btn btn-default btn-md gl-button btn-default-tertiary" (click)="searchGoogleForm._closeSearchDropDpwn(null)">{{ 'APP.BUTTON.Close' | translate }}</button>
                  <button type="submit" class="btn btn-confirm btn-md gl-button ms-2" [disabled]="_formGroup.invalid">{{ 'APP.BUTTON.Search' | translate }}</button>
                </div>
                <button type="submit" class="d-none" *ngIf="!_useNewSearchUI">hidden submit</button>
              </fieldset>
            </form>
          </div>
        </ui-search-google-form>
      </div>
    </div>
  </section>
  <section id="container-scroller" class="container-fluid container-scroller px-0" [class.container-scroller-no-search]="!_hasFilter"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="__loadMoreData()"
    [scrollWindow]="false">

    <ui-box-message *ngIf="elements.length == 0 && !_spin"
      [size]="64"
      [icon]="'report_problem'"
      [image]="'./assets/images/illustrations/'+model+'.svg'"
      [message]="_message | translate"
      [subMessage]="_messageHelp | translate">
    </ui-box-message>

    <div class="row">
      <div class="col-12">
        <ng-container *ngFor="let element of elements">
          <ui-item-row class="{{ transazioniConfig.itemRow.class }}" [style.background-color]="transazioniConfig.itemRow.background"
            [data]="element"
            [config]="transazioniConfig"
            [hasLink]="true"
            (itemClick)="_onEdit($event, element)">
          </ui-item-row>
        </ng-container>
      </div>
    </div>

    <ui-box-spinner [color]="'primary'" [diameter]="36" [strokeWidth]="3" *ngIf="_spin"></ui-box-spinner>

  </section>
</div>
