<div class="card e-card d-flex flex-column justify-content-between" (click)="__simpleClick($event)" *ngIf="!cardBs">
  <div class="top">
    <img [src]="_image" *ngIf="_image" alt="logo">
    <h1 *ngIf="_primaryText" [attr.title]="_primaryText">{{ _primaryText }}</h1>
    <h2 *ngIf="_secondaryText">{{ _secondaryText }}</h2>
    <p *ngIf="_metadata">{{ _metadata }}</p>
  </div>
  <div class="bottom">
    <div class="read-more d-flex align-items-center" (click)="__simpleClick($event)">
      <!--
        <i class="material-icons-outlined">explore</i>
        <p>{{ _readMore }}</p>
      -->
    </div>
  </div>
</div>
<div class="card h-100" [class.group]="data.tipo === 'gruppo'" *ngIf="cardBs">
  <div tabindex="0" class="card-image" [class.cursor-pointer]="_enabledImageLink" *ngIf="_showImage && (_image || _showEmptyImage)" (click)="__imageClick($event)"
    setBackgroundImage [imageUrl]="{ path: _image } | httpImgSrc" [position]="'cover'" [ngStyle]="{ 'background-color': _backColor }">
    <span class="logo-text text-nowrap" [ngStyle]="{'color': _textColor}" *ngIf="!_image">{{ _logoText }}</span>
  </div>
  <div class="card-body" [class.cursor-pointer]="!_image && !_secondaryText && !_showEmptyImage" (click)="__cardBodyClick($event)">
    <h5 tabindex="0" class="card-title text-hover cursor-pointer text-break" [attr.title]="_primaryText" *ngIf="_primaryText" (click)="__simpleClick($event)">{{ _primaryText }}</h5>
    <p class="card-text" *ngIf="_secondaryText">{{ _secondaryText }}</p>
    <p *ngIf="_metadata">{{ _metadata }}</p>
    <!-- <div class="btn btn-primary" (click)="__simpleClick($event)">{{ _readMore }}</div> -->
    <ui-data-type class="me-2" *ngIf="data.stato"
      [data]="data"
      [elem]="{ field: 'stato', type: 'label', options: 'status' }"
      [config]="config">
    </ui-data-type>
    <ui-data-type *ngIf="data.visibilita && !isAnonymous"
      [data]="data"
      [elem]="{ field: 'visibilita', type: 'tag', options: 'visibility' }"
      [config]="config">
    </ui-data-type>
  </div>
  <div class="group-button" *ngIf="(data.tipo === 'gruppo') && showGroupIcon">
    <div class="group-button-icon">
      <i class="bi bi-folder"></i>
    </div>
    <div class="group-button-label" *ngIf="showGroupLabel">{{ groupLabel }}</div>
  </div>
</div>
