<div id="route-section" class="">
  <div class="alert-wrapper gp-force-block-formatting-context">
    <ui-breadcrumb [breadcrumbs]="breadcrumbs" (onClick)="onBreadcrumb($event)"></ui-breadcrumb>
  </div>
  <div class="top-area">
    <div class="tabs gp-tabs d-flex flex-grow-1 p-0 m-0 mobile-separator issuable-state-filters">
      <div class="">
        <ul role="tablist" class="nav gp-border-b-0 gp-tabs-nav">
          <li class="nav-item">
            <a role="tab" tabindex="-1" target="_self" class="nav-link gp-tab-nav-item gp-tab-nav-item-active cursor-pointer" (click)="_resetScroll()">
              <span title="Show all issues.">{{ 'APP.FILTER.Found' | translate }}</span> <span class="badge gp-tab-counter-badge badge-muted badge-pill gp-badge sm" [title]="utenti.length">{{ _paging.totalElements || 0 }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-controls align-self-center d-flex">
      <div role="group" class="gl-w-full btn-group- position-relative">
        <!-- <ng-template [appHasPermission]="'SETTINGS'" [action]="'create'"> -->
          <button aria-label="Add payment" type="button" class="btn btn-confirm btn-md gl-button btn-icon" (click)="_onNew()">
            <span class="material-icons-outlined">add</span> <span class="ms-2">{{ 'APP.BUTTON.AddUser' | translate }}</span>
          </button>
        <!-- </ng-template> -->
      </div>
    </div>
  </div>
  <section class="search-bar container-fluid px-0" *ngIf="_hasFilter">
    <div class="row align-items-center">
      <div class="col-12">
        <ui-search-google-form #searchGoogleForm
          [classBlock]="''"
          [placeholder]="'APP.PLACEHOLDER.Search' | translate"
          [showHistory]="showHistory"
          [historyStore]="model"
          [showSearch]="showSearch"
          [searchFields]="searchFields"
          [useCondition]="useCondition"
          [showSorting]="showSorting"
          [sortField]="sortField"
          [sortDirection]="sortDirection"
          [sortFields]="sortFields"
          [formGroup]="_formGroup"
          (onSearch)="_onSearch($event)"
          (onSort)="_onSort($event)">
          <div form-search [class.search-material-custom]="_useNewSearchUI">
            <form class="row" [formGroup]="_formGroup" (submit)="_onSubmit(_formGroup.value)">
              <fieldset>

                <div class="row mb-1">
                  <div class="col-2">
                    <label class="col-form-label col-form-label-fix">{{ 'APP.LABEL.FreeSearch' | translate }}</label>
                  </div>
                  <div class="col-10">
                    <input type="text" class="form-control form-control-sm" id="q" formControlName="q">
                  </div>
                </div>

                <div class="row mb-1">
                  <div class="col-2">
                    <label class="col-form-label col-form-label-fix">{{ 'APP.LABEL.email' | translate }}</label>
                  </div>
                  <div class="col-10">
                    <input type="text" class="form-control form-control-sm" id="email" formControlName="email">
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="row mb-1">
                      <div class="col-4">
                        <label class="col-form-label col-form-label-fix">{{ 'APP.LABEL.Role' | translate }}</label>
                      </div>
                      <div class="col-8">
                        <select class="form-select form-control-sm" id="ruolo" formControlName="ruolo">
                          <option value="">{{ 'APP.LABEL.All' | translate }}</option>
                          <option *ngFor="let ruolo of _ruoloArr" [value]="ruolo">
                            {{ 'APP.USERS.ROLES.' + ruolo | translate }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row mb-1">
                      <div class="col-4">
                        <label class="col-form-label col-form-label-fix">{{ 'APP.LABEL.Status' | translate }}</label>
                      </div>
                      <div class="col-8">
                        <select class="form-select form-control-sm" id="stato" formControlName="stato">
                          <option value="">{{ 'APP.LABEL.All' | translate }}</option>
                          <option *ngFor="let stato of _statoArr" [value]="stato">
                            {{ 'APP.USERS.STATUS.' + stato | translate }}
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-1">
                  <div class="col-2">
                    <label class="col-form-label col-form-label-fix">{{ 'APP.LABEL.Username' | translate }}</label>
                  </div>
                  <div class="col-10">
                    <input type="text" class="form-control form-control-sm" id="username" formControlName="username">
                  </div>
                </div>

                <div class="row mb-1">
                  <div class="col-2">
                    <label class="col-form-label col-form-label-fix" for="id_organizzazione">{{ 'APP.LABEL.Organization' | translate }}</label>
                  </div>
                  <div class="col-10">
                    <ng-select class="" (click)="onSelectedSearchDropdwon($event)"
                      [items]="organizzazioni$ | async"
                      [trackByFn]="trackBySelectFn"
                      [typeahead]="organizzazioniInput$"
                      [minTermLength]="minLengthTerm" 
                      [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                      [typeToSearchText]="'APP.MESSAGE.PleaseEnterMin' | translate:{ lengthTerm: minLengthTerm }"
                      labelForId="id_organizzazione"
                      [editableSearchTerm]="true"
                      bindValue="id_organizzazione"
                      formControlName="id_organizzazione"
                      (change)="onChangeSearchDropdwon($event)">
                      <ng-template ng-label-tmp let-item="item">
                        {{ item.nome }}
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="fw-bold">{{ item.nome }}</div>
                        <!-- <div class="">
                          <span class="small text-muted">{{ item.id_organizzazione }}</span>
                        </div> -->
                      </ng-template>
                    </ng-select>
                  </div>
                </div>

                <div class="row mb-1">
                  <div class="col-2">
                    <label class="col-form-label col-form-label-fix" for="classe_utente">{{ 'APP.LABEL.classi' | translate }}</label>
                  </div>
                  <div class="col-10">
                    <ng-select
                      [items]="classiUtente$ | async"
                      [trackByFn]="trackBySelectFn"
                      [typeahead]="classiUtenteInput$"
                      [minTermLength]="minLengthTerm" 
                      [notFoundText]="'APP.MESSAGE.NotFoundItem' | translate"
                      [typeToSearchText]="'APP.MESSAGE.PleaseEnterMin' | translate:{ lengthTerm: minLengthTerm }"
                      [multiple]="true"
                      bindValue="id_classe_utente"
                      bindLabel="nome"
                      labelForId="classe_utente"
                      [closeOnSelect]="false"
                      formControlName="classe_utente">
                      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [checked]="item$.selected"/> {{ item.nome}}
                      </ng-template>
                    </ng-select>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="row mb-1">
                      <div class="col-sm-4">
                        <label class="col-form-label col-form-label-fix" for="referente_tecnico">{{ 'APP.LABEL.ReferenteTecnico' | translate }}</label>
                      </div>
                      <div class="col-sm-8">
                        <select class="form-select form-control-sm" id="referente_tecnico" formControlName="referente_tecnico">
                          <option value="">{{ 'APP.LABEL.All' | translate }}</option>
                          <option *ngFor="let stato of yesNoList" [value]="stato.value">{{ stato.label | translate }}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-end pt-4" *ngIf="_useNewSearchUI">
                  <button type="button" class="btn btn-default btn-md gl-button btn-default-tertiary" (click)="searchGoogleForm._closeSearchDropDpwn(null)">{{ 'APP.BUTTON.Close' | translate }}</button>
                  <button type="submit" class="btn btn-confirm btn-md gl-button ms-2">{{ 'APP.BUTTON.Search' | translate }}</button>
                </div>
                <button type="submit" class="d-none" *ngIf="!_useNewSearchUI">hidden submit</button>
              </fieldset>
            </form>
          </div>
        </ui-search-google-form>
      </div>
    </div>
  </section>
  <section id="container-scroller" class="container-fluid container-scroller px-0" [class.container-scroller-no-search]="!_hasFilter"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="__loadMoreData()"
    [scrollWindow]="false">
    <div class="row">
      <ui-box-message *ngIf="utenti.length == 0 && !_spin"
        [size]="64"
        [icon]="'report_problem'"
        [image]="'./assets/images/illustrations/utenti.svg'"
        [message]="_message | translate"
        [subMessage]="_messageHelp | translate">
      </ui-box-message>

      <!-- <ui-box-message *ngIf="!_spin"
        [size]="64"
        [icon]="'report_problem'"
        [image]="'./assets/images/illustrations/utenti.svg'"
        [message]="_messageUnimplemented | translate">
      </ui-box-message> -->

      <!--
      <div class="col-12">
        <ui-simple-item class="border-bottom" *ngFor="let org of utenti"
          [primaryText]="org.primaryText"
          [secondaryText]="org.secondaryText"
          [metadata]="org.metadata"
          [secondaryMetadata]="org.secondaryMetadata"
          [hasLink]="true"
          (simpleClick)="_onEdit($event, org)">
        </ui-simple-item>
      </div>
      -->

      <div class="row">
        <div class="col-12">
          <ui-item-row class="border-bottom" *ngFor="let item of utenti; trackBy: _trackBy;"
            [data]="item"
            [config]="utentiConfig"
            [hasLink]="true"
            (itemClick)="_onEdit($event, item)">
          </ui-item-row>
        </div>
      </div>

      <ui-box-spinner [color]="'primary'" [diameter]="36" [strokeWidth]="3" *ngIf="_spin"></ui-box-spinner>

    </div>
  </section>
</div>
