/**
 * Lato Font - v25
 *
 * Font files downloaded from Google Fonts (fonts.gstatic.com)
 * Source: https://fonts.google.com/specimen/Lato
 *
 * Font structure:
 * assets/fonts/lato/
 *   ├── Lato-Regular.woff2
 *   ├── Lato-Bold.woff2
 *   ├── Lato-Italic.woff2
 *   └── Lato-BoldItalic.woff2
 */

/* Regular (400) */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../lato/Lato-Regular.woff2') format('woff2');
}

/* Bold (700) */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../lato/Lato-Bold.woff2') format('woff2');
}

/* Italic (400) */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../lato/Lato-Italic.woff2') format('woff2');
}

/* Bold Italic (700) */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../lato/Lato-BoldItalic.woff2') format('woff2');
}
